body{
    background-color: #ffffff;
    margin: 0%;
}
.main{
    position: relative;
}
.navbar{
    position:  relative;
    top: 0px;
}
.icon{
    padding: 10px;
    border-radius: 5px;
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
span{
    color: rgba(rgb(233, 121, 46), green, blue, alpha);
}

.navdiv{
    
    padding: 5px;
    border: double, 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #3e362e;
}
li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

li input{
    border: solid;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
}

li button{
    color: white;
    background-color: black;
    border: solid, black;
    border-radius: 10px;
    margin-left: 0px;
    padding: 10px;
}
a:hover{
    color: orange;
}
button:hover{
    background: #e7b279;
}
.container{
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    border: solid, #3e362e;
    background-color: #e7b279;
}
.item-1{
    padding: 10px;
    font-weight: bold;
    border: solid #3e362e 1px;
    
}
h4{
    text-align: center;
    color: #2c2621;
    font-size: 28px;
}

.biodiv{
    top: -983px;
    left: 28.6%;
    position: relative;
    margin: 10px;
    padding: 24px;
    width: 899px;
    height: 919px;
    border: solid, #3e362e;
    background-color: #93785b;
}
.dp{
    position: relative;
    border: double #2c2621 5px;
    border-radius: 10px;
    width: 350px;
    top: -1950px;
    left: 71%;
}